@import url('https://fonts.googleapis.com/css?family=Monda:400,700&display=swap');

html {
    height: 100%;
    overflow: auto;
}

body {
    font-family: 'Monda', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-45deg, #4E668E, #91C4D9);
    height: 100%;
    overflow: auto;
    font-family: 'Monda', sans-serif;
}

button:focus {
    outline: none;
}

button:active {
    background-color: rgba(0,0,0,0.2);
    @if(color:#4D628D){
        color: #fff;
    }
}

.calculator {
    font-family: 'Monda', sans-serif;
    width:300px;
    height:600px;
    margin: 100px auto 0;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.buttons{
    width: 100%;
    height: 375px;
    background-image: linear-gradient(-45deg, #556C94, #88B6CD);
}

.button{
    font-family: 'Monda', sans-serif;
    float: left;
    width: 75px;
    height: 75px;
    background-color: transparent;
    font-size: 1.5em;
    color: #fff;
    border-style: solid;
    border-color: rgba(255,255,255,0.1);
    border-width: thin;
}

.double-zero {
    font-family: 'Monda', sans-serif;
    float: left;
    width: 150px;
    height: 75px;
    background-color: transparent;
    font-size: 1.5em;
    color: #fff;
    border-style: solid;
    border-color: rgba(255,255,255,0.1);
    border-width: thin;
}

.white {
    background-color: #fff;
    color: #4D628D;
}

.equal {
    background-color: #4D628D;
}

.bigger {
    font-size: 2em;
}

.screen {
    position: relative;
    width: 300px;
    height: 225px;
    background-color: #DEEDF3;
}

.window-buttons {
    position: absolute;
    top:10px;
    left: 15px;
}

.window-button {
    position: relative;
    display: inline-block;
    background-color: #C1DDE8;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 0.6em;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    text-align: center;
    color: #C1DDE8;
}

.window-button:first-child:hover {
    background-color: #FF605C;
    color: rgb(51, 51, 51);
}

.window-button:hover {
    background-color: #FFBD44;
    color: rgb(51, 51, 51);
}

.window-button:last-child:hover {
    background-color: #00CA4E;
    color: rgb(51, 51, 51);
}

.fa-font {
    margin-bottom: 1px;
    margin-left: 1px;
}

.calculation {
    position: absolute;
    right: 20px;
    bottom: 75px;
    width: 280px;
    height: 30px;
    text-align: right;
    font-size: 1.5em;
    color: #97A8BD;
}

.equal-sign{
    position: absolute;
    bottom: 0;
    width: 75px;
    height: 75px;
    text-align: center;
    font-size: 3em;
    color: #4D628D;
}

.result {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 205px;
    height: 75px;
    text-align: right;
    font-size: 3em;
    color: #4D628D;
}